header {
    background-image: url();
}
nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    background-image: url("https://images3.alphacoders.com/133/1337465.png");
}
.hover:hover {
    background-color: #f50e0e;
}

img {
    height: 50px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style: none;
}
li {
    margin-left: 20px;
}
.menu {
    background-color: blue;
    height: 300px;
    width: 100px;
    display: none;
}
.burger {
}
.button {
    background-image: url("ggggg.png");
    background-size: 20%;
}
